body {
  color: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

/* ========= HEADER ========== */
.header {
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}

.tabs {
  float: right;
  right: 5%;
}

.tab {
  margin: 1em;
  color: #333;
  padding: 1em 3em;
}

.tab:hover {
  color: #52b947;
  cursor: pointer;
}

/* ========== FOOTER ========== */
.icon {
  margin: 1em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: white;
}

/* ========== MAIN ========== */
.main {
  padding-bottom: 80px;
}

/* =========== HOME ========== */


